---
http_interactions:
- request:
    method: get
    uri: https://api.chapa.co/v1/transaction/verify456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CHASECK_TEST-LivGCWNzvf2wi7X4UAWm5r7MSjnFcFMN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - '085be19d-8f9f-480a-8586-d34dcaacc475'
      X-Ratelimit-Remaining:
      - '998'
      X-Amz-Apigw-Id:
      - TkHMNHPDLPEENxQ=
      X-Ratelimit-Limit:
      - '1000'
      X-Amzn-Remapped-Date:
      - Fri, 23 Feb 2024 00:50:47 GMT
    body:
      encoding: UTF-8
      string: '{"status":"failed","message":"The Endpoint you are looking for is not
        found. Please refer to our documentation for more. developer.chapa.co"}'
  recorded_at: Fri, 23 Feb 2024 00:50:47 GMT
- request:
    method: post
    uri: https://api.telegram.org/bot6520699041:AAERR1JHhuR0IQhY8k1oJMK6qgU8d0fXjHo/sendMessage
    body:
      encoding: UTF-8
      string: chat_id=789&text=There%20was%20a%20problem%20with%20your%20payment.%20Please%20try%20again%20or%20contact%20support.
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":false,"error_code":400,"description":"Bad Request: chat not found"}'
  recorded_at: Fri, 23 Feb 2024 00:50:48 GMT
recorded_with: VCR 6.2.0
